<!-- 1. There are three tables in the database an author table has a first name, a last 
name and an email address. A publisher table has a name, a street address, a city, 
a state/ province, a country, and a Web site. A book table has a title and a 
publication date. It also has one or more authors (a many-to-many relationship 
with authors) and a single publisher (a one-to-many relationship - aka foreign 
key - to publishers). Design a form which populates and retrieves the 
information from the above database using Django -->
<!DOCTYPE html>
<html>
<head>
  <title>library</title>
  <style>   </style>
</head>
<body>
    
</body>
</html>