<style>
    body{
        background-color: rgba(220, 30, 226, 0.13);
        text-align: center;
        margin-top: 100px;
        font-size: larger;
    }
</style>
<body>
<p style="font-weight: bold;">Personal details</p>
<p>Name: {{name}}</p>
<p>Date of Birth: {{dob}}</p>
<p>Email ID: {{mail}}</p>
<p>Adress: {{address}}</p>
<p>Contact number: {{phone}}</p>
<p style="font-weight: bold;">Academic details</p>
<p style="display: inline">Marks in English:</p>
<p class="eng" style="display: inline">{{eng}}</p><br>
<p style="display: inline">Marks in Physics:</p>
<p class="phy" style="display: inline">{{phy}}</p><br>
<p style="display: inline">Marks in Chemistry:</p>
<p class="chem" style="display: inline">{{chem}}</p><br>
<p class="percent" style="font-weight: bold;"></p>
</body>
<script>
    var eng=parseFloat(document.querySelector('.eng').innerHTML);
    var phy=parseFloat(document.querySelector('.phy').innerHTML);
    var chem=parseFloat(document.querySelector('.chem').innerHTML);
    var total=eng+phy+chem;
    var percent=(total/300)*100
    document.querySelector(".percent").innerHTML="Your percentage is:"+percent+"%"  
</script>