<!-- Create a web form with employee ids in dropdown list. Use a textbox for accepting 
date of joining. Add a button named “Am I Eligible for Promotion”. On clicking 
the button, if he has more than 5 years of experience, then display “YES” else 
“NO” in the label control. -->
<!DOCTYPE html>
<html>
<head>
  <title>Promotion eligibility</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
  <style>   
        .container{
            padding-top: 80px;
            display: flex; 
            justify-content:center; 
            flex-direction: column;
            align-items: center;
        }
        .dropdown{
            margin-bottom: 20px;
        }
  </style>
</head>
<body>
    <div class='container'>
        <p>Check for eligibility for Promotion.</p>
    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee ID
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1001</a>
          <a class="dropdown-item" href="#">1002</a>
          <a class="dropdown-item" href="#">1003</a>
          <a class="dropdown-item" href="#">1004</a>
          <a class="dropdown-item" href="#">1005</a>
          <a class="dropdown-item" href="#">1006</a>
        </div>
      </div>
      <input type="date" class="dateofjoin">
      <button onclick="check()" style="margin-top: 20px;">Check for eligibility</button>  
      <h3 class="result" style="margin-top: 20px;"></h3>
    </div>
      <script>
            function check(){
                var doj=document.querySelector('.dateofjoin').value;    
                var dateEntered = new Date(doj);
                const date = new Date();
                var joinyear=dateEntered.getFullYear();
                var currentyear=date.getFullYear();
                // console.log(typeof(dateEntered),typeof(dateEntered.getFullYear()));
                // console.log(current);    
                if((currentyear-joinyear)>=5)
                {
                    document.querySelector('.result').innerHTML='YES'
                }
                else{
                    document.querySelector('.result').innerHTML='NO'
                }
            }  
      </script>
</body>
</html>